	<footer>
        <!-- 底部信息 -->
        <div class="footer-container clearfix">
            <img src="/images/footer-logo.png">
            <p>©2016 Xiaozhao 京ICP备14023790号-2 京公网安备11010802017116号</p>
        </div>
    </footer>
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/tab.jquery.1.1.js"></script>
    <script type="text/javascript" src="/javascripts/dialog.prototype.1.0.js"></script>
    <script type="text/javascript" src="/javascripts/index.animate.js"></script>
</body>
</html>