<body>
	<header>
	    <!-- 公共头部 -->
	    <nav class="top-outer-container">
	        <!-- 深色头部 -->
	        <div class="top-bar clearfix">
	            <ul class="other-inner-wrap clearfix">
	                <!-- 其他入口 -->
	                <li><a href="/wait" class="chosen"><i class="iconfont icon-phone"></i>校招APP</a></li>
	                <li class="separate"></li>
	                <li><a href="/wait">进入企业版</a></li>
	            </ul>
	            <ul class="login-info-wrap clearfix">
	                <!-- 登陆注册 -->
	                <li><a href="/login">登陆</a></li>
	                <li class="separate"></li>
	                <li><a href="/register">注册</a></li>
	            </ul>
	        </div>
	    </nav>
	    <nav class="logo-outer-container">
	        <!-- logo、主要待选项 -->
	        <div class="logo-main-bar clearfix">
	            <!-- logo + 语义化 -->
	            <a href="/index" class="logo"><h1>校招</h1></a>
	            <!-- 城市筛选 -->
	            <div class="choose-city"><strong>全国站</strong><i>[切换城市]</i></div>
	            <!-- 主导航 -->
	            <ul>
	                <li><a href="/index" class="chosen">首页</a></li>
	                <li><a href="/company">公司</a></li>
	                <li><a href="/myresume">我的简历</a></li>
	            </ul>
	        </div>
	    </nav>
	</header>