header {
  width: 1000px;
  margin: 0 auto;
  height: 60px;
  position: relative;
}
header .logo {
  background: url(../images/logo.png) no-repeat;
  width: 229px;
  height: 43px;
  margin-top: 10px;
  float: left;
}
header ul {
  float: left;
  margin-left: 50px;
  font-size: 0;
}
header ul li {
  display: inline-block;
  padding: 0 20px;
}
header ul li a {
  font-size: 20px;
  line-height: 58px;
  float: left;
  color: #999999;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}
header ul li a:hover {
  color: #555555;
  text-decoration: none;
  border-color: #2185cf;
}
header ul li .current {
  border-color: #2185cf;
  color: #555555;
}
.header-new-user {
  width: 108px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2185cf;
  color: white;
  text-align: center;
}
.header-new-user a {
  color: white;
  padding: 0 8px;
  transition: all 0.2s ease-in-out;
}
.header-new-user a:hover {
  color: #d9e7f1;
  text-decoration: none;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff') format('woff'), /* chrome、firefox */ url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('iconfont.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
html {
  min-width: 1200px;
}
.carousel-recom {
  background-color: #2185cf;
  position: relative;
}
.carousel-recom h3 {
  color: white;
  font-size: 30px;
  text-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px 0 25px;
}
.carousel-recom .recom-wrap {
  width: 1200px;
  height: 330px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.carousel-recom .recom-wrap ul {
  position: relative;
  width: 5000px;
  top: 20px;
  left: 50px;
}
.carousel-recom .recom-wrap > .btn {
  position: absolute;
  width: 46px;
  height: 90px;
  top: 50%;
  margin-top: -65px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.carousel-recom .recom-wrap > .btn:hover {
  opacity: 1;
}
.carousel-recom .recom-wrap .before-btn {
  background: url(../images/before-next.png) 0 0 no-repeat;
  left: 0;
}
.carousel-recom .recom-wrap .next-btn {
  background: url(../images/before-next.png) 100% 0 no-repeat;
  right: 0;
}
.carousel-recom .recom-wrap li {
  position: relative;
  float: left;
  transition: all 0.2s ease-in-out;
  margin-left: 50px;
}
.carousel-recom .recom-wrap li:first-child {
  margin-left: 10px;
}
.carousel-recom .recom-wrap .default-wrap {
  width: 140px;
  height: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}
.carousel-recom .recom-wrap .default-wrap img {
  width: 140px;
  height: 140px;
}
.carousel-recom .recom-wrap .default-wrap p {
  margin-top: 5px;
  line-height: 1.6;
  text-align: center;
  padding: 0 3px;
}
.carousel-recom .recom-wrap .default-wrap:hover > .hover-wrap {
  opacity: 0.9;
}
.carousel-recom .recom-wrap .default-wrap .hover-wrap {
  opacity: 0;
  position: absolute;
  top: -8px;
  left: -8px;
  width: 134px;
  height: 194px;
  border: 1px solid #f2f8fd;
  padding: 20px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.carousel-recom .recom-wrap .default-wrap .hover-wrap .btn {
  display: block;
  background-color: #2185cf;
  color: white;
  font-size: 15px;
  width: 124px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 2px;
  position: absolute;
  bottom: 15px;
}
.carousel-recom .recom-wrap .default-wrap .hover-wrap .btn:hover {
  text-decoration: none;
}
.carousel-recom .recom-wrap .publish-time {
  left: 50%;
  width: 100px;
  margin-left: -50px;
  position: absolute;
  color: white;
  font-size: 16px;
  margin-top: 40px;
  text-align: center;
}
.carousel-recom .recom-wrap .publish-time:after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 4px;
  left: 90px;
  border-style: solid;
  border-width: 6px 0 6px 9px;
  border-color: transparent transparent transparent #76bff5;
}
.carousel-recom .recom-wrap .publish-time:before {
  content: ". . . . . . .";
  display: block;
  font-size: 30px;
  position: absolute;
  top: -9px;
  left: -94px;
  color: #76bff5;
}
.info-wrap {
  min-width: 1200px;
  width: 1200px;
  margin: 35px auto 0;
}
.info-wrap:after {
  content: "";
  display: block;
  clear: both;
}
.info-wrap > div {
  float: left;
}
.info-wrap .main-info-wrap {
  width: 960px;
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul {
  border: 1px solid #e8e8e8;
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul li {
  height: 45px;
  line-height: 45px;
  background-color: #fafafa;
  padding-left: 22px;
  font-weight: bold;
  border-bottom: 1px dashed #e8e8e8;
  position: relative;
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul li a {
  font-weight: normal;
  margin-right: 5px;
  padding: 5px 8px;
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul li a:hover {
  background-color: #2185cf;
  color: white;
  text-decoration: none;
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul li .current {
  background-color: #2185cf;
  color: white;
  text-decoration: none;
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul li:last-child {
  border-bottom: none;
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul li .more-btn {
  float: right;
  padding-right: 32px;
  position: relative;
  cursor: pointer;
  z-index: 101;
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul li .more-btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  border-top: 7px solid #2185cf;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  top: 19px;
  right: 13px;
  transition: all 0.2s ease-in-out;
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul li .more-btn:hover:after {
  transform: rotate(180deg);
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul li .more-btn .more-wrap {
  position: absolute;
  display: none;
  top: 45px;
  right: -1px;
  width: 914px;
  border: solid 1px #e8e8e8;
  border-top: dashed 1px #e8e8e8;
  padding: 0 22px;
  background-color: white;
  z-index: 101;
}
.info-wrap .main-info-wrap .options-menu-wrap .area-menu ul li .more-btn:hover .more-wrap {
  display: block;
}
.info-wrap .main-info-wrap .options-menu-wrap .sort-menu {
  height: 45px;
  line-height: 45px;
  background-color: #fafafa;
  padding: 0 22px;
  font-weight: bold;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
  position: relative;
}
.info-wrap .main-info-wrap .options-menu-wrap .sort-menu a {
  font-weight: normal;
  margin-right: 5px;
  padding: 5px 8px;
}
.info-wrap .main-info-wrap .options-menu-wrap .sort-menu a:hover {
  background-color: #2185cf;
  color: white;
  text-decoration: none;
}
.info-wrap .main-info-wrap .options-menu-wrap .sort-menu .current {
  background-color: #2185cf;
  color: white;
  text-decoration: none;
}
.info-wrap .main-info-wrap .options-menu-wrap .sort-menu .check {
  float: right;
  line-height: 45px;
  vertical-align: middle;
}
.info-wrap .main-info-wrap .options-menu-wrap .sort-menu .check input {
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
}
.info-wrap .main-info-wrap .detail-item-wrap {
  margin-top: 10px;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big {
  width: 406px;
  border: 1px solid #e8e8e8;
  padding: 32px 32px 100px;
  position: relative;
  float: left;
  margin-top: 20px;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big:nth-child(2n) {
  margin-left: 16px;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big:hover {
  border-color: #2185cf;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big img {
  width: 130px;
  height: 130px;
  border: 1px solid #e8e8e8;
  float: left;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big .description-wrap {
  float: left;
  margin-left: 24px;
  width: 250px;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big .description-wrap a:hover {
  text-decoration: none;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big .description-wrap h3 {
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 15px;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big .description-wrap p {
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big .description-wrap p strong {
  color: #2185cf;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big .description-wrap .multi-line-description {
  font-size: 14px;
  font-weight: normal;
  margin-top: 15px;
  line-height: 1.6;
  white-space: nowrap;
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big ul {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 54px;
  background-color: #fafafa;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big ul li {
  float: left;
  width: 100px;
  line-height: 54px;
  color: #999;
  padding-left: 56px;
  position: relative;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big ul .icon-type {
  width: 102px;
}
.info-wrap .main-info-wrap .detail-item-wrap .compamy-item-big ul .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  position: absolute;
  left: 25px;
  top: 1px;
}
.info-wrap .main-info-wrap .page-wrap {
  text-align: center;
  margin-top: 55px;
}
.info-wrap .main-info-wrap .page-wrap div {
  display: inline-block;
  border: 1px solid #e8e8e8;
  padding: 5px 12px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
  line-height: 21px;
  height: 21px;
}
.info-wrap .main-info-wrap .page-wrap div:hover {
  background-color: #0989e7;
  color: white;
  border-color: #0989e7;
}
.info-wrap .main-info-wrap .page-wrap .current {
  background-color: #0989e7;
  color: white;
  font-weight: bold;
  border-color: #0989e7;
}
.info-wrap .main-info-wrap .page-wrap .forbid {
  cursor: default;
  color: #e8e8e8;
}
.info-wrap .main-info-wrap .page-wrap .forbid:hover {
  background-color: white;
  color: #e8e8e8;
}
.info-wrap .main-recom-wrap {
  margin-left: 30px;
  width: 100px;
  border: 10px solid #fafafa;
  padding: 45px;
  text-align: center;
}
.info-wrap .main-recom-wrap li {
  margin-top: 40px;
}
.info-wrap .main-recom-wrap li:first-child {
  margin-top: 0;
}
.info-wrap .main-recom-wrap img {
  width: 104px;
  height: 104px;
  border: 1px solid #e8e8e8;
}
.info-wrap .main-recom-wrap p {
  color: #666;
  font-size: 14px;
  margin: 3px 0 10px;
  text-align: center;
}
.info-wrap .main-recom-wrap p a:hover {
  text-decoration: none;
}
.info-wrap .main-recom-wrap span {
  font-size: 13px;
  color: #999;
}
