<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="shortcut icon" href="/images/favicon.ico">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1457510743_0211098.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset_Mobile.css">
	<script>
        document.documentElement.style.fontSize = window.innerWidth / 3.2 + "px";
    </script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main_Mobile.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/header_Mobile.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer_Mobile.css">
</head>
<body>
	<header>
		<i class="iconfont icon-arrowleft"></i><h1>校园招聘</h1>
	</header>
	<main>
		<div id="tips">
			10秒钟定制职位<a class="login" href="/login">去登陆</a>
		</div>
		<ul>
			<li class="clearfix">
				<img src="/images/avater.png">
				<dl>
					<dd><h2>荣联云通讯</h2></dd>
					<dt>
						<p><strong>部门助理</strong> [ <em>北京</em> ] </p>
						<p><span>今天 13:29</span></p>
					</dt>
				</dl>
				<div>
					<span>5k</span> - <span>8k</span>
				</div>
			</li>
			<li class="clearfix">
				<img src="/images/avater.png">
				<dl>
					<dd><h2>荣联云通讯</h2></dd>
					<dt>
						<p><strong>部门助理</strong> [ <em>北京</em> ] </p>
						<p><span>今天 13:29</span></p>
					</dt>
				</dl>
				<div>
					<span>5k</span> - <span>8k</span>
				</div>
			</li>
			<li class="clearfix">
				<img src="/images/avater.png">
				<dl>
					<dd><h2>荣联云通讯</h2></dd>
					<dt>
						<p><strong>部门助理</strong> [ <em>北京</em> ] </p>
						<p><span>今天 13:29</span></p>
					</dt>
				</dl>
				<div>
					<span>5k</span> - <span>8k</span>
				</div>
			</li>
			<li class="clearfix">
				<img src="/images/avater.png">
				<dl>
					<dd><h2>荣联云通讯</h2></dd>
					<dt>
						<p><strong>部门助理</strong> [ <em>北京</em> ] </p>
						<p><span>今天 13:29</span></p>
					</dt>
				</dl>
				<div>
					<span>5k</span> - <span>8k</span>
				</div>
			</li>
			<li class="clearfix">
				<img src="/images/avater.png">
				<dl>
					<dd><h2>荣联云通讯</h2></dd>
					<dt>
						<p><strong>部门助理</strong> [ <em>北京</em> ] </p>
						<p><span>今天 13:29</span></p>
					</dt>
				</dl>
				<div>
					<span>5k</span> - <span>8k</span>
				</div>
			</li>
			<li class="clearfix">
				<img src="/images/avater.png">
				<dl>
					<dd><h2>荣联云通讯</h2></dd>
					<dt>
						<p><strong>部门助理</strong> [ <em>北京</em> ] </p>
						<p><span>今天 13:29</span></p>
					</dt>
				</dl>
				<div>
					<span>5k</span> - <span>8k</span>
				</div>
			</li>
			<li class="clearfix">
				<img src="/images/avater.png">
				<dl>
					<dd><h2>荣联云通讯</h2></dd>
					<dt>
						<p><strong>部门助理</strong> [ <em>北京</em> ] </p>
						<p><span>今天 13:29</span></p>
					</dt>
				</dl>
				<div>
					<span>5k</span> - <span>8k</span>
				</div>
			</li>
			<li class="clearfix">
				<img src="/images/avater.png">
				<dl>
					<dd><h2>荣联云通讯</h2></dd>
					<dt>
						<p><strong>部门助理</strong> [ <em>北京</em> ] </p>
						<p><span>今天 13:29</span></p>
					</dt>
				</dl>
				<div>
					<span>5k</span> - <span>8k</span>
				</div>
			</li>
			<li class="clearfix">
				<img src="/images/avater.png">
				<dl>
					<dd><h2>荣联云通讯</h2></dd>
					<dt>
						<p><strong>部门助理</strong> [ <em>北京</em> ] </p>
						<p><span>今天 13:29</span></p>
					</dt>
				</dl>
				<div>
					<span>5k</span> - <span>8k</span>
				</div>
			</li>
			<li class="clearfix">
				<img src="/images/avater.png">
				<dl>
					<dd><h2>荣联云通讯</h2></dd>
					<dt>
						<p><strong>部门助理</strong> [ <em>北京</em> ] </p>
						<p><span>今天 13:29</span></p>
					</dt>
				</dl>
				<div>
					<span>5k</span> - <span>8k</span>
				</div>
			</li>
		</ul>
		<div class="more">
			加载更多
		</div>
	</main>
	<footer>
		@2016 xiaozhao.com, all right reserved
	</footer>
	<nav>
		<ol class="clearfix">
			<li class="active">
				<a href="/index_Mobile">
					<i class="iconfont icon-home"></i> 职位
				</a>
			</li>
			<li>
				<a href="/search_Mobile">
					<i class="iconfont icon-sousuo"></i> 搜索
				</a>
			</li>
			<li>
				<a href="/myown_Mobile">
					<i class="iconfont icon-quedingwode"></i> 我的
				</a>
			</li>
		</ol>
	</nav>
</body>
</html>