main>div{
	width: 40%;
	height: 120px;
	height: 1.2rem;
	background-color: #2185CF;
}

main{
	font-size: 18px;
	font-size: 0.18rem;
}

main p{
	width: 125px;
	width: 1.25rem;
	text-align: center;
	height: 45px;
	height: 0.45rem;
	line-height: 45px;
	line-height: 0.45rem;
	color: white;
	background-color: #2185CF;
	margin: 40px auto 50px;
	margin: 0.4rem auto 0.5rem;
}

main a{
	display: block;
}

main ul{
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 180px;
	height: 1.8rem;
	width: 290px;
	width: 2.9rem;
	margin: 0 auto;
}

main ul li{
	width: 140px;
	width: 1.4rem;
	height: 85px;
	height: 0.85rem;
	background-color: #2185CF;
	text-align: center;
	line-height: 85px;
	line-height: 0.85rem;
	color: white;
	
}

